<a href="https://colab.research.google.com/github/ganeshdasrla/odin_python/blob/main/Python_Class_on_April_13th_2024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a = [1,2,3,4, "welcome", "hello", 45.87, True]

In [3]:
len(a)

8

In [5]:
b = []
for i in range(1, 21):
  b.append(i)
print(b)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [8]:
c, i = [], 1
while i < 21:
  c.append(i)
  i += 1
print(c)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

[expression for item in iterable if condition]
*   expression: The expression to evaluate for each item.
*   item: The variable representing each item in the iterable.
*   iterable: The iterable (e.g., list, tuple, range) to iterate over.
*   if condition (optional): A condition that filters the items. Only items for which the condition evaluates to True will be included in the new list.

In [9]:
# list comprehensions
d = [i for i in range(1, 21)]
print(d)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [12]:
e = [i+1 for i in [1,4,6]]
print(e)

[2, 5, 7]

In [11]:
# list comprehensions
squares = [num ** 2 for num in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

Filtering even numbers from a list:

In [13]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_numbers = [x for x in numbers if x % 2 == 0]
print(even_numbers)

[2, 4, 6, 8, 10]

In [14]:
even_numbers = [i for i in range(1,10) if i % 2 == 0]
print(even_numbers)

[2, 4, 6, 8]

Creating a list of tuples containing numbers and their squares:

In [15]:
pairs = [(x, x**2) for x in range(1, 6)]
print(pairs)

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

[expression for item1 in iterable1 for item2 in iterable2]

In [23]:
a = [[j for i in range(1,3)] for j in range(1,4)]
print(a)

pairs = [(x, y) for x in range(1,3) for y in range(4,6)]
print(pairs)

[[1, 1], [2, 2], [3, 3]]
[(1, 4), (1, 5), (2, 4), (2, 5)]

**Tuples:**
Tuples in Python are ordered collections of elements that are immutable, meaning their values cannot be changed after creation. Here are some key points about tuples:

In [27]:
my_tuple = (1, 2, 'a', 'b', True)
print(my_tuple)

a = 1,2,3,4,5,6,True
print(a)
type(a)

(1, 2, 'a', 'b', True)
(1, 2, 3, 4, 5, 6, True)

tuple

In [31]:
a=(4)
print(a)
print(type(a))

aa = [4]
print(aa)
print(type(aa))

b=("hello")
print(b)
print(type(b))

4
<class 'int'>
[4]
<class 'list'>
hello
<class 'str'>

In [37]:
a=(1,4,5,"welcome","hello",45.87,True,4,5,4)
print(len(a))
print(a.count(4))
print(a.index(5))
print(a[4:])
print(a[:-4])

10
3
2
('hello', 45.87, True, 4, 5, 4)
(1, 4, 5, 'welcome', 'hello', 45.87)

In [42]:
a=("ayush", "jen", "divya")
# a[1]="jenny" can't modifiy

list_a = list(a)
list_a[1]="jeeny"
print(list_a)

a = tuple(list_a)
print(a)

for name in list_a:
  print(name)

['ayush', 'jeeny', 'divya']
('ayush', 'jeeny', 'divya')
ayush
jeeny
divya

**Unpacking in Python:**
unpacking in Python allows you to assign the elements of a tuple to multiple variables in a single line. Here's how it works:

In [44]:
my_tuple = (1, 2, 3)
a, b, c = my_tuple
print(a)  # Output: 1
print(b)  # Output: 2
print(c)  # Output: 3

1
2
3
3
1

In [46]:
my_tuple = [1, 2, 3]
a, b, c = my_tuple
print(a)  # Output: 1
print(b)  # Output: 2
print(c)  # Output: 3

1
2
3

In [45]:
quotient, remainder = divmod(10, 3)
print(quotient)   # Output: 3
print(remainder)  # Output: 1

3
1

In [48]:
string = "apple,banana,orange,grape"
result = string.split(",")
print(result)

result1 = string.split(",", maxsplit=2)
print(result1)

['apple', 'banana', 'orange', 'grape']
['apple', 'banana', 'orange,grape']

**Dictionaries** in Python are unordered collections of key-value pairs. They are extremely flexible and powerful data structures, commonly used for mapping unique keys to corresponding values. Here's what you need to know about dictionaries:

my_dict = {'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [50]:
my_dict={"aysuh": 45, "raj": 57, "komal": 78}
print(my_dict)

for key in my_dict:
  print(key, my_dict[key])

{'aysuh': 45, 'raj': 57, 'komal': 78}
aysuh 45
raj 57
komal 78

In [60]:
my_dict = {'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}
print(my_dict['key1'])  # Output: value1

my_dict['new_key'] = 'new_value'  # Adding a new key-value pair
my_dict['key2'] = 'updated_value'  # Updating an existing value

del my_dict['key3']  # Remove a specific key-value pair
value = my_dict.pop('key2')  # Remove and return the value associated with a key

for key in my_dict:
  print(key, my_dict[key])  # Print each key and its corresponding value

keys = my_dict.keys()  # Get a list of keys
values = my_dict.values()  # Get a list of values
items = my_dict.items()  # Get a list of key-value pairs (tuples)

print("keys: ", keys)
print("values: ", values)
print("items: ", items)

value1
key1 value1
new_key new_value
keys:  dict_keys(['key1', 'new_key'])
values:  dict_values(['value1', 'new_value'])
items:  dict_items([('key1', 'value1'), ('new_key', 'new_value')])

In [65]:
names_dict = {"aysuh": 45, "mithili": 78, "venkatesh":85, "rahul":56}
names_dict["harini"] = 83
names_dict["venkatesh"] = 60

print(names_dict)

{'aysuh': 45, 'mithili': 78, 'venkatesh': 60, 'rahul': 56, 'harini': 83}

In [77]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
tuple_from_dict = tuple(my_dict.items())
print(tuple_from_dict)
list_from_dict = list(my_dict.items())
print(list_from_dict)

(('a', 1), ('b', 2), ('c', 3))
[('a', 1), ('b', 2), ('c', 3)]

In [76]:
student_dict = {"ayush": {"english": 39, "maths": 67, "science": 76, "social": 67},
                "raj": {"english": 39, "maths": 67, "science": 76, "social": 67},
                "ganesh": {"english": 39, "maths": 67, "science": 76, "social": 67},
                "komal": {"english": 39, "maths": 67, "science": 76, "social": 67},
                "kousik": {"english": 39, "maths": 67, "science": 76, "social": 67}}
#print(student_dict)
print(student_dict["ganesh"])
student_dict["ganesh"]["maths"] = 78
print(student_dict["ganesh"]["maths"])
print(len(student_dict))
print(len(student_dict["ganesh"]))

{'english': 39, 'maths': 67, 'science': 76, 'social': 67}
78
5
4

In [78]:
a=[]
type(a)

list

In [79]:
a=()
type(a)

tuple

In [80]:
a={}
type(a)

dict

In Python, a **set** is an unordered collection of unique elements. Sets are mutable, meaning you can add or remove elements from them.

**Uniqueness:** Sets only contain unique elements. If you try to add a duplicate element to a set, it will be ignored.

**Mutability:** Sets are mutable, meaning you can add or remove elements from them.

In [83]:
a=set()
type(a)

my_set = {1, 2, 3, 3, 4, 5}  # Duplicate 3 is ignored
print(my_set)  # Output: {1, 2, 3, 4, 5}

my_set.add(6)  # Add a new element
my_set.remove(2)  # Remove an element

{1, 2, 3, 4, 5}

In [85]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1 | set2  # Union of sets
intersection_set = set1 & set2  # Intersection of sets
difference_set = set1 - set2  # Set difference
symmetric_difference_set = set1 ^ set2  # Symmetric difference
print(union_set)
print(intersection_set)
print(difference_set)
print(symmetric_difference_set)

{1, 2, 3, 4, 5}
{3}
{1, 2}
{1, 2, 4, 5}

In [100]:
set1 = {1,2,3,4,5,6,7,2,4,5,7}
set1.add("2.908")
set1

{1, 2, '2.908', 3, 4, 5, 6, 7}

In [101]:
set1.update((100,102,108, 49,450,4))
set1

{1, 100, 102, 108, 2, '2.908', 3, 4, 450, 49, 5, 6, 7}

In [102]:
#set1.remove("2.908") #no vlue gvies error
set1.discard("python")
set1

{1, 100, 102, 108, 2, '2.908', 3, 4, 450, 49, 5, 6, 7}

In [104]:
set1={1,2,3}
set2={3,4,5}
set1.union(set2)

set1 | set2

{1, 2, 3, 4, 5}

In [108]:
set1.intersection(set2)
set1&set2

{3}

In [112]:
set1.difference(set2) # set1 - set2
set2.difference(set1) # set2 - set1

{4, 5}

In [114]:
set1.symmetric_difference(set2) # set1 ^ set2
set2.symmetric_difference(set1) # set1 ^ set2

{1, 2, 4, 5}