<a href="https://colab.research.google.com/github/ganeshdasrla/odin_python/blob/main/Python_Class_on_7th_Mar_2024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [93]:
!pip uninstall -y Pillow
!pip install Pillow==5.3.0
import PIL.Image

Found existing installation: Pillow 9.4.0
Uninstalling Pillow-9.4.0:
  Successfully uninstalled Pillow-9.4.0
Collecting Pillow==5.3.0
  Downloading Pillow-5.3.0.tar.gz (15.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 15.6/15.6 MB 25.8 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: Pillow
  Building wheel for Pillow (setup.py) ... done
  Created wheel for Pillow: filename=Pillow-5.3.0-cp310-cp310-linux_x86_64.whl size=1014406 sha256=0df885d4541ee76b2e496465f18c6cf3142251575062e7e19deaec33ba655a95
  Stored in directory: /root/.cache/pip/wheels/e2/3a/40/5c297d58820b8ed94409be8d00c0cfc762e382b1d2284031f2
Successfully built Pillow
Installing collected packages: Pillow
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
bokeh 3.3.4 requires pillow>=7.1.0, but you have pillow 5.3.0 which is incompatible.
dopamine-rl 4.0.6 requires Pillow>=7.0.0, but you have pillow 5.3.0 which is incompatible.
fastai 2.7.14 requires pillow>=9.0.0, but you have pillow 5.3.0 which is incompatible.
imageio 2.31.6 requires pillow<10.1.0,>=8.3.2, but you have pillow 5.3.0 which is incompatible.
matplotlib 3.7.1 requires pillow>=6.2.0, but you have pillow 5.3.0 which is incompatible.
scikit-image 0.19.3 requires pillow!=7.1.0,!=7.1.1,!=8.3.0,>=6.1.0, but you have pillow 5.3.0 which is incompatible.
Successfully installed Pillow-5.3.0

In [ ]:
# print 1 to 10
for i in range(1,11):
  print(i, end=" ")

1 2 3 4 5 6 7 8 9 10

In [ ]:
# use while to print 1 to 10
i = 1
while i < 11:
  print(i, end=" ")
  i += 1

1 2 3 4 5 6 7 8 9 10

In [ ]:
number = int(input())
reversed_number = 0
while number > 0:
  remainder = number % 10
  print("remainder:", remainder)
  reversed_number = (reversed_number * 10) + remainder
  print("reversed number:", reversed_number)
  number = number // 10
  print("number:", number)

print(f"Reversed number: {reversed_number} ")

12345
remainder: 5
reversed number: 5
number: 1234
remainder: 4
reversed number: 54
number: 123
remainder: 3
reversed number: 543
number: 12
remainder: 2
reversed number: 5432
number: 1
remainder: 1
reversed number: 54321
number: 0
Reversed number: 54321

In [ ]:
123 % 10

3

In [ ]:
a=1
while a<=3:
  print("outer loop", a)
  b=1
  while b<=2:
    print("inner loop", b)
    b = b+1
  a=a+1

outer loop 1
inner loop 1
inner loop 2
outer loop 2
inner loop 1
inner loop 2
outer loop 3
inner loop 1
inner loop 2

In [ ]:
a=1
b=1
while a<=3:
  print("outer loop", a)
  while b<=2:
    print("inner loop", b)
    b = b+1
  a=a+1

outer loop 1
inner loop 1
inner loop 2
outer loop 2
outer loop 3

In [ ]:
i = 1
while i < 11:
  print(f"2 * {i} = {2*i}")
  i += 1

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [ ]:
num = int(input())
i = 1
while i < num + 1:
  j = 1
  while j < 11:
    print(f"{i} x {j} = {i*j}")
    j += 1
  i += 1
  print()

10
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [ ]:
i = 1
while i <= 10:
  if i == 5:
    break
  print(i)
  i += 1

1
2
3
4

In [ ]:
i = 0
while i < 10:
  i += 1
  if i % 2 == 0:
    continue
  print(i)

1
3
5
7
9

In [ ]:
a, b = 2, 3
print(a,b)

2 3

In [ ]:
list = []
print(list)
type(list)
print(len(list))

[]
0

In [ ]:
a = [12, 13, 45, "welcome", True, "G", [1,2,3,4]]
print(a)
print(len(a))
print(a[6])
print(a.index("G"))
a.append("Ganesh")
print(a)
print(a[3:7])

[12, 13, 45, 'welcome', True, 'G', [1, 2, 3, 4]]
7
[1, 2, 3, 4]
5
[12, 13, 45, 'welcome', True, 'G', [1, 2, 3, 4], 'Ganesh']
['welcome', True, 'G', [1, 2, 3, 4]]

In [ ]:
#[start=0:stop=end:step=+1]
a[1::2]

[13, 'welcome', 'G', 'Ganesh']

In [ ]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15, 16, 17, 18]

# Get the indices based on powers of 2
indices = [2 ** i for i in range(1, len(my_list))]

# Perform slicing based on the calculated indices
sliced_list = [my_list[i] for i in indices if i < len(my_list)]

# Print the sliced list
for index, value in enumerate(sliced_list):
    print(f"Index: {2*(index+1)}, Value: {value}")

Index: 2, Value: 3
Index: 4, Value: 5
Index: 6, Value: 9
Index: 8, Value: 18

In [ ]:
a = "python"
a[::-1]

'nohtyp'

In [ ]:
# list fuctions
# 1. append -> adds one value at the end
# 2. extend -> adds multiple values at the end
# 3. insert -> adds values at specific index
a =[]
a.append(100)
print(a)
a.extend([[200, 300], 400])
print(a)
a.insert(0, [000, 10, 20, 30])
print(a)

[100]
[100, [200, 300], 400]
[[0, 10, 20, 30], 100, [200, 300], 400]

In [2]:
a = [1,2,3,4,5,6,7,8,9]
list(enumerate(a))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 6), (6, 7), (7, 8), (8, 9)]

In [1]:
a=[1,2,3,4,5,6]
list(enumerate(a))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 6)]

In [ ]:
a
a.clear()
a

[]

In [3]:
a = [1, 2,3,]
a
a.remove(3)
a
a.extend([3,4,5,6,7,8])
a.pop(2)
a[2] = 9
a.sort()
a

[1, 2, 5, 6, 7, 8, 9]

In [ ]:
# difference between sort and sorted