<a href="https://colab.research.google.com/github/ganeshdasrla/odin_python/blob/main/Python_Class_on_30th_Mar.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
10+5

15

In [6]:
## multilple line comment
'''
This is a multi-line comment in Python.
You can use triple-quoted strings to comment out
multiple lines of code or text.
'''

'\nThis is a multi-line comment in Python.\nYou can use triple-quoted strings to comment out\nmultiple lines of code or text.\n'

In [10]:
## syntax for variable
# variablename=data
# varible names alwasy starts with letter only
a = 100

In [12]:
# pre defined functions
print('Welcome to first python class')
print('good morning all!')

Welcome to first python class
good morning all!

In [13]:
name='Tejas'
print(name)

Tejas

In [14]:
# print student name Tejas
name='Tejas'
print('student name is', name)

student name is Tejas

In [17]:
a = 10
print(a)
a = 20
b = a + 1
print(a)
print(b)

10
20
21

In [18]:
a='Harshita'
b=10
c='market'
print(a, 'brought', b, "kg's of apple from", c)

Harshita brought 10 kg's of apple from market

In [22]:
# format functions
a='Harshita'
b=10
c='market'
print("{} brought {} kg's of apple from {}".format(a,b,c))

Harshita brought 10 kg's of apple from market

In [ ]:
# format functions
a='Harshita'
b=10
c='market'
print("{0} brought {1} kg's of apple from {2}".format(a,b,c))

In [23]:
# f-strings
print(f"{a} brought {b} kg's of apple from {c}")

Harshita brought 10 kg's of apple from market

In [27]:
#input
userinput = input("enter you name: ")
print(userinput)
print("you have entered", userinput)

enter you name: Ganesh
Ganesh
you have entered Ganesh

In [28]:
# type function
a=True
print(a)
print(type(a))

True
<class 'bool'>

In [29]:
a=10
print(a)
print(type(a))

10
<class 'int'>

In [30]:
userinput = input("enter you name: ")
print(userinput)
print("you have entered", userinput)
type(userinput)

enter you name: 10
10
you have entered 10

str

In [32]:
#input function takes default input as string
userinput = input()
print(userinput)
print("you have entered", userinput)
type(userinput)

10
10
you have entered 10

str

In [39]:
# explicit integer only use typecasting
userinput = input()
print(userinput)
print("you have entered", userinput)
type(userinput)

userinput = int(input())
print(userinput)
print("you have entered", userinput)
type(userinput)

userinput = int(bool(input()))
print(userinput)
print("you have entered", userinput)
type(userinput)

ten
ten
you have entered ten
10
10
you have entered 10
ten
1
you have entered 1

int

In [40]:
# arthematice operators +, -, *, /, %
a=10
b=3
print(a+b, a-b, a*b, a/b, a%b)

13 7 30 3.3333333333333335 1

In [41]:
a=10
b=3
print(a**b) #10^3

1000

In [42]:
a=10
b=3
print(a//b) #quotient

3

In [44]:
a=99 #assignment operator
a=a+1 # a+=1  short hand assignment
print(a)

100

In [45]:
# comparision operator
a=5
a==5 # compare

True

In [46]:
10!=10

False

In [50]:
#logical operator
print(5>5 and 10<20)
print(5>5 or 10<20)

False
True

In [52]:
# memebership operator in not in
a=[1,2,3,4,5]
print(10 in a)
print(10 not in a)

False
True

In [53]:
# identity operator
x = [1, 2, 3]
y = [1, 2, 3]

# Using is operator
print(x is y)       # Output: False (x and y are different objects in memory)
print(x is not y)   # Output: True  (x and y are not the same object)

# Using is not operator
print(x is not y)   # Output: True  (x and y are not the same object)
print(x is y)       # Output: False (x and y are different objects in memory)

False
True
True
False