<a href="https://colab.research.google.com/github/ganeshdasrla/odin_python/blob/main/Python_Class_on_April_14th_2024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def sum_of_numbers(a,b,c):
  return a+b+c

In [2]:
sum_of_numbers(-2,-2,8)

4

In [6]:
## sum of n numbers
def sum(n):
  sum=0;
  for i in range(n+1):
    sum += i
  return sum

In [7]:
sum(10)

55

In [8]:
# check given number is even or odd
def isEven(n):
  if n%2 == 0:
    return True
  else:
    return False

In [10]:
isEven(3)

False

In [14]:
## Arbitrary Positional Arguments:
#These are denoted by a single asterisk (*) before the parameter name in the function definition.
#This allows the function to accept any number of positional arguments, which are then captured into a tuple within the function.
def my_function(*args):
    for arg in args:
        print(arg)

my_function(1, 2, 3)  # Output: 1 2 3
my_function('a', 'b', 'c', 'd')  # Output: a b c d

1
2
3
a
b
c
d

In [16]:
def sum(*args):
  sum=0
  for arg in args:
    sum+=arg
  return sum

sum(1,2,3,4,5)

15

In [ ]:
#Arbitrary Keyword Arguments:
#These are denoted by double asterisks (**) before the parameter name in the function definition.
#This allows the function to accept any number of keyword arguments, which are then captured into a dictionary within the function.

In [17]:
def my_function(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}: {value}")

my_function(a=1, b=2, c=3)  # Output: a: 1, b: 2, c: 3
my_function(name='Alice', age=30)  # Output: name: Alice, age: 30

a: 1
b: 2
c: 3
name: Alice
age: 30

In [23]:
def students(**student):
  return student

students(name='ganesh', age=30, phone=768)

{'name': 'ganesh', 'age': 30, 'phone': 768}

In [26]:
def my_function(*a, **b):
  return a, b

my_function(1,2,3,4,name='ganesh', age=30, phone=768)

((1, 2, 3, 4), {'name': 'ganesh', 'age': 30, 'phone': 768})

In [49]:
# def rec_sum(n):
#   sum = n
#   if n == 0:
#     sum = 0
#   else:
#     sum = sum + rec_sum(n-1)
#   return sum
def rec_sum(n):
  if n == 1:
    return 1
  else:
    return n + rec_sum(n-1)

In [50]:
rec_sum(3)

6

In [52]:
def rec_fact(n):
  if n==1:
    return 1
  else:
    return n * rec_fact(n-1)

rec_fact(5)

120

In [70]:
#Fibonacci series using recursion
def rec_fibonacci(n):
  if n <= 1:
    return n
  else:
    return rec_fibonacci(n-1) + rec_fibonacci(n-2)

for i in range(10):
  print(rec_fibonacci(i), end=" ")
print()

# fib_series = [rec_fibonacci(i) for i in range(10)]
print([rec_fibonacci(i) for i in range(10)])

0 1 1 2 3 5 8 13 21 34
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [60]:
def second_smallest(numbers):
  if len(numbers) < 2:
      return "List must have at least two elements"

  smallest = float('inf')
  second_smallest = float('inf')

  for num in numbers:
      if num < smallest:
          second_smallest = smallest
          smallest = num
      elif num < second_smallest and num != smallest:
          second_smallest = num

  return second_smallest

print(second_smallest([5, 2, 8, 3, 5, 6, 7]))

3

In [63]:
#lambda functions
add = lambda n1, n2: n1 + n2
add(6, 5)

11

In [71]:
list1=[1,2,3,4]
list2=[3,4,5,6,7]
list(zip(list1,list2))

[(1, 3), (2, 4), (3, 5), (4, 6)]

In [74]:
s=" ".join(['welcome', 'to', '123'])
s

'welcome to 123'

In [75]:
import random
random.randint(1,6)

3

In [77]:
# Function to roll a single die
def roll_die():
    return random.randint(1, 6)

# Function for computer's turn
def computer_turn(total_score):
    print("Computer's turn:")
    turn_score = 0
    while turn_score < 20:
        roll = roll_die()
        print(f"Computer rolled: {roll}")
        if roll == 1:
            print("Computer rolled a 1. Turn over!")
            return total_score
        else:
            turn_score += roll
            print(f"Total score this turn: {turn_score}")
    total_score += turn_score
    return total_score

# Function for player's turn
def player_turn(player_name, total_score):
    print(f"{player_name}'s turn:")
    turn_score = 0
    while True:
        choice = input("Roll the die? (y/n): ").lower()
        if choice != 'y':
            break
        roll = int(input("Enter the number on the die (1-6): "))
        if roll < 1 or roll > 6:
            print("Invalid input! Please enter a number between 1 and 6.")
            continue
        print(f"You rolled: {roll}")
        if roll == 1:
            print("You rolled a 1. Turn over!")
            return total_score
        else:
            turn_score += roll
            print(f"Total score this turn: {turn_score}")
    total_score += turn_score
    return total_score

# Function to play the Pig Dice game
def play_pig_dice():
    player_name = input("Enter your name: ")
    player_score = 0
    computer_score = 0
    while player_score < 100 and computer_score < 100:
        player_score = player_turn(player_name, player_score)
        if player_score >= 100:
            print(f"{player_name} wins with a score of {player_score}!")
            break
        computer_score = computer_turn(computer_score)
        if computer_score >= 100:
            print("Computer wins with a score of", computer_score)
            break

# Start the game
play_pig_dice()

Enter your name: Ganesh
Ganesh's turn:
Roll the die? (y/n): y
Enter the number on the die (1-6): 6
You rolled: 6
Total score this turn: 6
Roll the die? (y/n): 7
Computer's turn:
Computer rolled: 2
Total score this turn: 2
Computer rolled: 6
Total score this turn: 8
Computer rolled: 1
Computer rolled a 1. Turn over!
Ganesh's turn:
Roll the die? (y/n): 0
Computer's turn:
Computer rolled: 2
Total score this turn: 2
Computer rolled: 3
Total score this turn: 5
Computer rolled: 1
Computer rolled a 1. Turn over!
Ganesh's turn:
Roll the die? (y/n): 3
Computer's turn:
Computer rolled: 2
Total score this turn: 2
Computer rolled: 3
Total score this turn: 5
Computer rolled: 4
Total score this turn: 9
Computer rolled: 4
Total score this turn: 13
Computer rolled: 4
Total score this turn: 17
Computer rolled: 5
Total score this turn: 22
Ganesh's turn:
Roll the die? (y/n): 4
Computer's turn:
Computer rolled: 4
Total score this turn: 4
Computer rolled: 4
Total score this turn: 8
Computer rolled: 3
Total score this turn: 11
Computer rolled: 6
Total score this turn: 17
Computer rolled: 6
Total score this turn: 23
Ganesh's turn:
Roll the die? (y/n): 2
Computer's turn:
Computer rolled: 3
Total score this turn: 3
Computer rolled: 5
Total score this turn: 8
Computer rolled: 6
Total score this turn: 14
Computer rolled: 5
Total score this turn: 19
Computer rolled: 2
Total score this turn: 21
Ganesh's turn:
Roll the die? (y/n): 4
Computer's turn:
Computer rolled: 3
Total score this turn: 3
Computer rolled: 5
Total score this turn: 8
Computer rolled: 6
Total score this turn: 14
Computer rolled: 4
Total score this turn: 18
Computer rolled: 6
Total score this turn: 24
Ganesh's turn:
Roll the die? (y/n): 6
Computer's turn:
Computer rolled: 3
Total score this turn: 3
Computer rolled: 3
Total score this turn: 6
Computer rolled: 3
Total score this turn: 9
Computer rolled: 6
Total score this turn: 15
Computer rolled: 4
Total score this turn: 19
Computer rolled: 3
Total score this turn: 22
Computer wins with a score of 112