<a href="https://colab.research.google.com/github/ganeshdasrla/odin_python/blob/main/Python_Doubt_Session_on_April_23_2024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from functools import reduce

# Define a list of numbers
numbers = [5, 3, 9, 1, 7, 2]

# Use reduce with a lambda function to find the maximum element in the list
max_number = reduce(lambda x, y: x if x > y else y, numbers)
print(max_number)  # Output: 9

9

In [8]:
n=[1,2,3,4,5,6,7,8,9,10]
list(map(lambda x:x*x, filter(lambda x:x%2==0, n)))

[4, 16, 36, 64, 100]

In [9]:
list(map(lambda x:x*x, filter(lambda x:x%2==0, n)))

[4, 16, 36, 64, 100]

In [10]:
reduce(lambda x,y:x+y, map(lambda x:x*x, filter(lambda x:x%2==0, n)))

220

In [12]:
import numpy as np

# Create a 3D array
array_3d = np.array([
    [[1, 2, 3], [4, 5, 6]],

    [[7, 8, 9], [10, 11, 12]],

    [[13, 14, 15], [16, 17, 18]]
])
array_3d

array([[[ 1,  2,  3],
        [ 4,  5,  6]],

       [[ 7,  8,  9],
        [10, 11, 12]],

       [[13, 14, 15],
        [16, 17, 18]]])

In [24]:
array_3d[2,0:,0:2]

array([[13, 14],
       [16, 17]])