<a href="https://colab.research.google.com/github/ganeshdasrla/odin_python/blob/main/Python_Class_on_7th_Mar_2024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# print 1 to 10
for i in range(1,11):
  print(i, end=" ")

1 2 3 4 5 6 7 8 9 10

In [4]:
# use while to print 1 to 10
i = 1
while i < 11:
  print(i, end=" ")
  i += 1

1 2 3 4 5 6 7 8 9 10

In [7]:
number = int(input())
reversed_number = 0
while number > 0:
  remainder = number % 10
  print("remainder:", remainder)
  reversed_number = (reversed_number * 10) + remainder
  print("reversed number:", reversed_number)
  number = number // 10
  print("number:", number)

print(f"Reversed number: {reversed_number} ")

12345
remainder: 5
reversed number: 5
number: 1234
remainder: 4
reversed number: 54
number: 123
remainder: 3
reversed number: 543
number: 12
remainder: 2
reversed number: 5432
number: 1
remainder: 1
reversed number: 54321
number: 0
Reversed number: 54321

In [10]:
123 % 10

3

In [11]:
a=1
while a<=3:
  print("outer loop", a)
  b=1
  while b<=2:
    print("inner loop", b)
    b = b+1
  a=a+1

outer loop 1
inner loop 1
inner loop 2
outer loop 2
inner loop 1
inner loop 2
outer loop 3
inner loop 1
inner loop 2

In [12]:
a=1
b=1
while a<=3:
  print("outer loop", a)
  while b<=2:
    print("inner loop", b)
    b = b+1
  a=a+1

outer loop 1
inner loop 1
inner loop 2
outer loop 2
outer loop 3

In [3]:
i = 1
while i < 11:
  print(f"2 * {i} = {2*i}")
  i += 1

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [14]:
num = int(input())
i = 1
while i < num + 1:
  j = 1
  while j < 11:
    print(f"{i} x {j} = {i*j}")
    j += 1
  i += 1
  print()

10
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [13]:
i = 1
while i <= 10:
  if i == 5:
    break
  print(i)
  i += 1

1
2
3
4

In [12]:
i = 0
while i < 10:
  i += 1
  if i % 2 == 0:
    continue
  print(i)

1
3
5
7
9

In [17]:
a, b = 2, 3
print(a,b)

2 3